body {
    background-color: rgba(255, 0, 0, 0.7);
    font-family: sans-serif;
    text-align: center;
}

img {
    width: 350px;
    height: 325px;
    user-select: none;
    cursor: pointer;
}

p {
    font-size: 30px;
}